{% extends "base.html" %} 

{% block title %} Select Isuse {% endblock %} 


{% block content %}
<div class="w3-row w3-padding-32">
  <div class="w3-col">
    <div class="w3-card-4">
      <div class="w3-container w3-theme">
        <h2>Confirm issue to estimate</h2>
      </div>
      <form action="confirm_issue" method="post" class="w3-container">
        {% csrf_token %}
        <div class="w3-row w3-margin">
          <div class="w3-col">
            <label for="issue_url">Issue URL</label>
            <input id="issue_url" name="issue_url" class="w3-input" type="text" value="{{ issue_url }}" disabled/>
          </div>
        </div>
        <input name="org" type="hidden" value="{{ issue.org }}" />
        <input name="repo" type="hidden" value="{{ issue.repo }}" />
        <input name="issue_id" type="hidden" value="{{ issue.issue_id }}" />
        <div class="w3-row w3-margin">
          <div class="w3-col" style="width: 120px;">
            <p>Issue details</p>
          </div>
          <div class="w3-rest">
            <p>ID: {{ issue.issue_id }}</p>
            <p>Title: {{ issue.title }}</p>
          </div>
        </div>
        <div class="w3-row w3-margin">
          <div class="w3-col">
            <input type="submit" value="Start Estimation Session" class="w3-button w3-theme w3-right w3-margin"/>
            <a class="w3-button w3-right w3-margin">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
