{% extends "base.html" %}

{% load static %}

{% block title %} GitHub Async Estimation Tool {% endblock %}

{% block content %}
    <div class="w3-display-container" style="min-height: 400px;">
        <div class="w3-row">
            <div class="w3-col">
                <img
                        src="{{ user.avatar_url }}"
                        alt="Profile Picture"
                        class="w3-circle"
                        style="width: 50px; height: 50px; border-radius: 50%"
                />
                <h3>
                    {% if estimation_sessions %}
                        Issues awaiting votes for {{ user.handle }}@github:
                    {% else %}
                        No issues awaiting votes for {{ user.handle }}@github at this moment.
                    {% endif %}
                </h3>
            </div>
        </div>

        <!-- Display estimation sessions if available -->
        <div class="w3-row w3-row-padding">
            {% for estimation_session in estimation_sessions %}
                <div class="w3-col s6 m4 l3">
                    <a href="{% url 'estimation_session' session_id=estimation_session.id %}" class="w3-card-2 w3-margin-bottom" style="width: 100%; cursor: pointer;">
                        <div class="w3-container w3-center {% if estimation_session.is_open %} w3-green{% else %} w3-red{% endif %}">
                            <p>Issue {{ estimation_session.issue.repo }} / #{{ estimation_session.issue.issue_id }}</p>
                            <p>{{ estimation_session.issue.title }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Add Issue For Estimation button in its own row -->
        <div class="w3-row w3-margin-top">
            <div class="w3-col">
                <a class="w3-button w3-theme" href="{% url 'select_issue' %}">
                    + Add Issue For Estimation
                </a>
            </div>
        </div>
    </div>
{% endblock %}
