{% extends "base.html" %} 

{% block title %} Select Issue {% endblock %} 


{% block content %}
<div class="w3-row w3-padding-32">
  <div class="w3-col">
    <div class="w3-card-4">
      <div class="w3-container w3-theme">
        <h2>Issue #{{ issue.issue_number }}: {{ issue.title }}</h2>
      </div>
      <div class="w3-container">
        <div class="w3-row">
          <div class="w3-col s6">
            <div class="w3-row">
              <div class="w3-col">
                <h3>Description</h3>
              </div>
            </div>
            <div class="w3-row">
              <div class="w3-col">
                {{ markdown_description|safe }}
              </div>
            </div>
          </div>
          <div class="w3-col s6">
            <div class="w3-row">
              <h3>Assign Voters</h3>
            </div>
            <div class="w3-row w3-padding">
              <form method='POST'>
                {% csrf_token %}
                <div class="w3-col s6" >
                  <div class="w3-container" style="max-height: 230px; overflow: auto;">
                    <ul class="w3-ul w3-border">
                      {% for team_member in team_members %}
                      <li class="w3-display-container">
                        {{ team_member.handle }}@github 
                        <button type="submit" formaction="add_member/{{ team_member.handle }}/" class="w3-button w3-padding-small w3-theme w3-display-right" style="margin-right: 5px;">Add</button>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="w3-col s6">
                  <div class="w3-container" style="max-height: 230px; overflow: auto;">
                    <ul class="w3-ul">
                      {% for vote in votes %}
                      <li class="w3-display-container">
                        {% if not vote.vote %}
                        ❌
                        {% else %}
                        ✅
                        {% endif %}
                        &nbsp;&nbsp;
                        {{ vote.user.handle }} 
                        <button type="submit" formaction="remove_member/{{ vote.user.handle }}/" class="w3-button w3-padding-small w3-theme w3-display-right" style="margin-right: 5px;">Remove</button>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </form>
            </div>
            {% if allow_estimation %}
            <div class="w3-row">
              <h3>Estimate Issue</h3>
            </div>
            <div class="w3-row w3-padding">
              <form method='POST'>
                {% csrf_token %}
                {% for estimate_option in estimate_options %}
                <button type="submit" formaction="toggle_vote/{{ estimate_option }}/" class="w3-button {% if current_vote == estimate_option %}w3-yellow{% else %}w3-theme{% endif %}" style="margin-right: 5px;">
                  {{ estimate_option }}
                </button>
                {% endfor %}
              </form>
            </div>
            {% endif %}
            <div class="w3-row">
              &nbsp;
            </div>
            <div class="w3-row w3-container w3-center">
               <a class="w3-button w3-large w3-padding w3-theme" style="margin-right: 5px;">Reveal Estimates</a>
            </div>
            <div class="w3-row">
              &nbsp;
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
